/*        Header         */
.header {
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.4) 40%,
      rgba(0, 0, 0, 0.9) 80%
    ),
    url("./../public/img/pexels-kirill-lazarev-8482166.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 4rem;
}

/*      Navbar       */
.navBtn {
  position: relative;
  padding: 0.25rem 0.5rem;
  color: white;
  transition: color 0.5s ease-out;
  z-index: 1;
  border-radius: 0.25rem;
  overflow: hidden;
}

.navBtn:hover {
  color: black;
}

.navBtn:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: whitesmoke;
  margin-block: auto;
  animation: zoop 1s ease-in-out forwards;
  transform-origin: center;
  z-index: -1;
}

@keyframes zoop {
  0% {
    width: 4px;
    height: 1px;
  }
  100% {
    width: 999px;
    height: 999px;
  }
}
